body{
  background-color: white;
  color: black;
}
#main-links{
text-align: left;
padding: 20px; 
}

#main-links > a{
  margin: 10px;
  color: white;
  font-size: 15px;
}
.row{
  width:97%; 
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}
.row-main {
  background-color: rgb(250, 215, 17);
  box-shadow: 3px 3px 3px grey;
}
.row-regular{
  background-color: rgba(189, 188, 187, 0.199);
  border-bottom: rgb(61, 55, 55);
}
.email{
  font-size: 14px;
}
.custom-select{
  width:200px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 65px;
  width:100%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

i {
  font-family: fontawesome !important;
  }
 